<p style="color: green"><%= notice %></p>

<h1>Searches</h1>

<%= form_tag user_searches_path(@user), method: "GET", data: {turbo_frame: "articles", turbo_action: "advance"} do %>
  <%= search_field_tag :title, params[:title]%>
  <%= submit_tag "Search" %>
<% end %>

<div id="searches">
  <% @articles.each do |article| %>
  <div>
    <%= article.title %>
    </div>
  <% end %>
</div>

<%= link_to "New search", new_user_search_path %>